.root {
    max-width: 100px;
    width: 100%;
    padding: 4px 0 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    border-radius: 12px 0px 12px 12px;
    text-transform: capitalize;
    line-height: 170%;
    margin: 0 auto;
    margin-top: 22px;
}

.easy {
    background-color: #42A976;
}

.medium {
    background-color: #EAC505;
}

.hard {
    background-color: #EF7D54;
}