.root {
    padding: 0 233px;
}

@media screen and (max-width: 1700px) {
    .root {
        padding: 0 190px;
    }
}

@media screen and (max-width: 1200px) {
    .root {
        padding: 0 100px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        padding: 16px;
    }
}