.title {
    margin-bottom: 60px;
    transition: 0.7s;
}

.table { 
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 18px;
    border: 2px solid #95B6A9;
}

.value {
    display: grid;
    grid-template-columns: 0.8fr 0.5fr;
    grid-column-gap: 7px;
    align-items: center;
}

.value p {
    max-width: 100px;
    text-align: left;
}

.icon {
    width: 15px;
}

.correctIcon {
    width: 22px;
}

.backBtn {
    composes: primary from '../Button/button.module.css';
    max-width: 149px;
    padding: 16px 20px 18px;
    transition: 0.7s;
    margin-top: 30px;
}

@media screen and (max-width: 1300px) {
    .root {
        padding: 0 100px;
        transition: 0.7s;
    }
}

@media screen and (max-width: 992px) {
    .root {
        padding: 0 50px;
    }

    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        padding: 0 16px;
    }

    .title {
        font-size: 24px;
    }

    .backBtn {
        max-width: 145px;
        padding: 15px;
    }
}