.root {
    margin-top: 87px;
    transition: 0.7s;
}

.question {
    max-width: 1080px;
    width: 100%;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 72px;
    transition: 0.7s;
}

.answers {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(0, 290px));
    justify-content: center;
    transition: 0.7s;
}

.answerBox {
    padding: 16px 20px;
    max-width: 290px;
    width: 100%;
    border: 2px solid #95B6A9;
    box-sizing: border-box;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.7s;
}

.answerBox:hover {
    transition: 0.5s;
    background-color: #D4E0E0;
    border: 2px solid transparent;
}

.answerBox:hover .answer {
    transition: 0.5s;
    color: #2D6A4C;
}

@media screen and (max-width: 1700px) {
    .answers {
        grid-template-columns: repeat(auto-fit, minmax(0, 260px));
    }
}

@media screen and (max-width: 1500px) {
    .answers {
        grid-template-columns: repeat(auto-fit, minmax(0, 360px));
    }

    .answerBox {
        max-width: 360px;
        transition: 0.7s;
    }
}

@media screen and (max-width: 768px) {
    .root {
        margin-top: 50px;
    }

    .answers {
        grid-template-columns: repeat(auto-fit, minmax(0, 288px));
    }

    .answerBox {
        max-width: 288px;
        transition: 0.7s;
        padding: 12px;
    }

    .question {
        margin-bottom: 50px;
    }
}